{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "COVID-19 APIs",
    "description" : "Here you can find documents for COVID-19 REST API.",
    "version" : "1.1.0"
  },
  "servers" : [ {
    "url" : "https://api-cov19.now.sh/",
    "description" : "Vercel Serverless API"
  } ],
  "paths" : {
    "/api" : {
      "get" : {
        "tags" : [ "Data for all countries" ],
        "description" : "Returns information about all countries",
        "responses" : {
          "200" : {
            "description" : "A list of countries with all informtion included.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Countries"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/countries/list/" : {
      "get" : {
        "tags" : [ "Countries list" ],
        "description" : "List of all countries with COVID-19 cases",
        "responses" : {
          "200" : {
            "description" : "Default response with array of strings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CountryInfo"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/countries/{country}" : {
      "get" : {
        "tags" : [ "Data for country" ],
        "summary" : "Get a country by name",
        "description" : "Returns information about country. Pass country name as a parameter. Country name is case insensitive. For example – https://api-cov19.now.sh/api/countries/netherlands",
        "parameters" : [ {
          "name" : "country",
          "in" : "path",
          "description" : "String Name of the country to get",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of countries with all informtion included.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Country"
                }
              }
            }
          },
          "500" : {
            "description" : "Error message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CountryInfo" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          }
        }
      },
      "Countries" : {
        "type" : "object",
        "properties" : {
          "confirmed" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Countries_confirmed"
            }
          },
          "death" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Countries_confirmed"
            }
          },
          "recovered" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Countries_confirmed"
            }
          }
        }
      },
      "Country" : {
        "type" : "object",
        "properties" : {
          "country" : {
            "type" : "string"
          },
          "dates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "confirmed" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "deaths" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          },
          "recovered" : {
            "type" : "array",
            "items" : {
              "type" : "integer"
            }
          }
        }
      },
      "Error" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          }
        }
      },
      "Countries_confirmed" : {
        "type" : "object",
        "properties" : {
          "Province/State" : {
            "type" : "string"
          },
          "Lat" : {
            "type" : "string"
          },
          "Long" : {
            "type" : "string"
          },
          "d/mm/yy" : {
            "type" : "string"
          }
        }
      }
    }
  }
}