openapi: 3.0.0
info:
  title: COVID-19 APIs
  description: Here you can find documentation for COVID-19 REST API.
  version: 1.1.1
servers:
- url: https://api-cov19.now.sh/
  description: Covid-19 statistic serverless API
paths:
  # All information
  /api:
    get:
      tags:
      - Data for all countries
      description: Returns information about all countries
      responses:
        "200":
          description: List is updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Countries'
        "304":
          description: List is unchanged.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Countries'
  # List of all countries
  /api/countries/list/:
    get:
      tags:
      - Countries list
      description: List of all countries with COVID-19 cases
      responses:
        # Updated status code
        "200":
          description: List is updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryInfo'
        # Unchanged status code
        "304":
          description: List is unchanged.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryInfo'
        # Error status code
        "500":
          description: Error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Data for country by name/id
  /api/countries/{country}:
    get:
      tags:
      - Data for country
      summary: Get a country by name or id
      description: Returns information about country. Pass country name as a parameter.
        Country name is case insensitive.
        For example
        https://api-cov19.now.sh/api/countries/netherlands
        or
        https://api-cov19.now.sh/api/countries/15
      parameters:
      - name: country
        in: path
        description: String Name / Id of the country to get
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Information is unchanged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
        "304":
          description: Information is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
        "500":
          description: Error message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CountryInfo:
      type: object
      properties:
        name:
          type: string
    Countries:
      type: object
      properties:
        confirmed:
          type: array
          items:
            $ref: '#/components/schemas/Countries_confirmed'
        death:
          type: array
          items:
            $ref: '#/components/schemas/Countries_confirmed'
        recovered:
          type: array
          items:
            $ref: '#/components/schemas/Countries_confirmed'
    Country:
      type: object
      properties:
        country:
          type: string
        dates:
          type: array
          items:
            type: string
        confirmed:
          type: array
          items:
            type: integer
        deaths:
          type: array
          items:
            type: integer
        recovered:
          type: array
          items:
            type: integer
    Error:
      type: object
      properties:
        name:
          type: string
    Countries_confirmed:
      type: object
      properties:
        Province/State:
          type: string
        Lat:
          type: string
        Long:
          type: string
        d/mm/yy:
          type: string
